.navbar     {
    width: 1358.94px; height: 45px; top: 48px; left: 40.19px; gap: 253px;
    display: flex;
}

.firstcontainer {
    display: flex;
    align-items: center;
    align-content: center;
}


.container2 {
    display: flex;
    width: 100%;
}

.maincards {
    width: 1333px;
    height: 266px;
    top: 766px;
    left: 53.5px;
    padding: 10px 0px 0px 0px;
    gap: 31px;
    opacity: 0px;
    display: flex;
}

.threecards1 {
    width: 416px;
    height: 246px;
    padding: 25px 23px 25px 23px;
    gap: 14px;
    border-radius: 12px;
    border: 2px;
    opacity: 0px;
    background: #FFFFFF;
    border: 2px solid #000000
}

.threecards1p {
    width: 370px;
    height: 127px;
    gap: 0px;
    opacity: 0px;
    font-family: Helvetica Light;
    font-size: 19.7px;
    font-weight: 400;
    line-height: 24.21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}

.threecards1h {
    width: 270px;
    height: 33px;
    gap: 0px;
    opacity: 0px;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.98px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}

.leftsecdiv {
    width: 547px;
    height: 547px;
    top: 1082px;
    left: 42px;
    padding: 48.43px 21.08px 48.43px 21.65px;
    gap: 0px;
    opacity: 0px;
}
.secondcontainer    {
    display: flex;
    align-items: center;
}